<div class="col-md-4">
	<%= paginate games %>
</div>
<!--style仮置き-->
<% if user_signed_in? %>
	<div class="col-md-offset-6 col-md-2", style="padding-top: 20px;">
		<%= link_to "ゲームを追加したい", new_game_path, class:"btn btn-info btn-md" %>
	</div>
<% end %>

<table class="table table-bordered">
	<tr>
		<th class="table info", style="width: 50%;">
			ゲームタイトル
		</th>
		<th class="table info", style="width: 25%;">
			遊んでいるユーザー人数
		</th>

		<% if user_signed_in? %>
			<th class="table info", style="width: 25%;">
				プロフィールに追加・削除
			</th>
		<% end %>

	</tr>

	<% games.each do |game| %>
		<tr>
			<td class="table", style="width: 50%;">
				<%= link_to users_gamer_path(game_id: game.id) do %>
					<%= game.title %>
				<% end %>
			</td>
			<td class="table", style="width: 25%;">
				<%= game.users_games.count %>
			</td>

			<% if user_signed_in? %>
				<td id="games_buttons_<%= game.id %>", class="table", style="width: 25%;">
					<%= render partial: "public/users_games/button", locals: { users_games: @users_games, game: game } %>
				</td>
			<% end %>

		</tr>
	<% end %>
</table>

<div class="col-md-4">
	<%= paginate games %>
</div>
