<div class="row", style="padding-top: 20px;">
	<span class="col-md-2">コメント</span>
	<% if user_signed_in? %>
		<%= form_with(url: users_comments_path, method: :post, class: "form-horizontal", remote: true) do |f| %>
			<%= f.hidden_field :id, value: @user.id %>
			<%= f.text_area :text, rows:"2", class: "col-md-6 comment" %>
			<%= f.submit "送信", class: "btn btn-info col-md-offset-1 col-md-2" %>
		<% end %>
	<% end %>
</div>
<div class="row">
	<table class="table table-hover col-md-offset-1 col-md-11">
		<% users_comments.each do |comment| %>
			<tr>
				<td class="table-noborder", style="width: 20%;">
					<%= link_to user_path(comment.user) do %>
						<%= comment.user.name %>
					<% end %>
				</td>
				<td class="table-noborder", style="width: 40%;">
					<%= comment.text %>
				</td>
				<td class="table-noborder", style="width: 20%;">
					<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
