<table class="table table-bordered col-md-12">
	<tr>
		<th class="table info">
			<span>通知欄</span>
			<% if notifications.present? %>
				<%= link_to "全通知を削除", notifications_path, method: :delete,  class: "btn btn-xs btn-danger pull-right", remote: true %>
			<% end %>
		</th>
	</tr>
	<% if notifications.present? %>
		<% notifications.each do |notification| %>
			<tr>
				<td class="table">
					<div class="col-md-1", style="padding: 0;">
						<% if notification.sender.image_id.present? %>
							<%= attachment_image_tag notification.sender, :image, :size => "30x30" %>
						<% else %>
							<%= image_tag "noimage.png", :size => "30x30" %>
						<% end %>
					</div>

					<div class="col-md-11">
						<% if notification.kind == "フォロー" %>

							<p><%= @users.find(notification.sender_id).name %>さんにフォローされました</p>

						<% elsif notification.kind == "新規投稿" %>

							<% if notification.sender_id == @user.id%>
								<p>フォロワーに向けて以下の投稿をしました「<%= notification.game.title %>を新しく始めました」</p>
							<% else %>
								<p><%= notification.sender.name %>が<%= notification.game.title %>を新しく始めました</p>
							<% end %>

							<% elsif notification.kind == "希望投稿" %>

							<% if notification.sender_id == @user.id%>
								<p>フォロワーに向けて以下の投稿をしました「<%= notification.game.title %>で遊びたがっています」</p>
							<% else %>
								<p><%= notification.sender.name %>が<%= notification.game.title %>を遊びたがっています</p>
							<% end %>

						<% end %>
					</div>
					<div>
						<%= link_to "", notification_path(notification), method: :delete, class: "glyphicon glyphicon-remove-sign", remote: true %>
						<span class="text-right"><%= notification.created_at.strftime('%Y/%m/%d %H:%M') %></span>
					</div>
				</td>
			</tr>
		<% end %>
	<% else %>
		<td class="table">
			<p>通知はありません</p>
		</td>
	<% end %>
</table>
