<div class="col-md-4">
	<%= paginate users %>
</div>
<!--style仮置き-->

<table class="table table-bordered">
	<tr>
		<th class="table info", style="width: 5%;">
		</th>
		<th class="table info", style="width: 25%;">
			ユーザー名
		</th>
		<th class="table info", style="width: 15%;">
			ボイスチャット可否
		</th>
		<th class="table info", style="width: 40%;">
			遊んでいるゲーム
		</th>

		<% if user_signed_in? %>
			<th class="table info", style="width: 15%;">
				フォロー／解除
			</th>
		<% end %>

	</tr>

	<% users.each do |user| %>
		<tr>
			<td class="table", style="width: 5%;">

				<% if user.image_id.present? %>
					<%= attachment_image_tag user, :image, :size => "40x40" %>
				<% else %>
					<%= image_tag "noimage.png", :size => "40x40" %>
				<% end %>

			</td>
			<td class="table", style="width: 25%;">
				<%= link_to user_path(user) do %>
					<%= user.name %>
				<% end %>
			</td>
			<td class="table", style="width: 15%;">
				<%= user.voice %>
			</td>
			<td class="table", style="width: 40%;">
				<% @users_games.where(user_id: user.id).order("RANDOM()").limit(3).each do |users_game| %>
					<span><%= users_game.game.title %>　</span>
				<% end %>
				<% if @users_games.where(user_id: user.id).count >= 4 %>
					<span>etc...</span>
				<% end %>
			</td>

			<% if user_signed_in? %>
				<td class="table", style="width: 15%;">
					<% if user == current_user %>
						<!--自身の欄にはボタンを表示しない-->
					<% else %>
						<% if current_user.following?(user) %>
							<%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
								<%= hidden_field_tag :follow_id, user.id %>
								<p style="width: 120px;"><%= f.submit 'フォロー解除', class: 'btn btn-danger btn-block' %></p>
							<% end %>
						<% else %>
							<%= form_for(current_user.relationships.build) do |f| %>
								<%= hidden_field_tag :follow_id, user.id %>
								<p style="width: 120px;"><%= f.submit 'フォローする', class: 'btn btn-info btn-block' %></p>
							<% end %>
						<% end %>
					<% end %>

				</td>
			<% end %>

		</tr>
	<% end %>
</table>

<div class="col-md-4">
	<%= paginate users %>
</div>
