<div class="row">
	<h3>ユーザー一覧</h3>
	<div class="col-md-4">
		<%= paginate @users %>
	</div>
	<!--style仮置き-->

	<table class="table table-bordered">
		<tr>
			<th class="table info", style="width: 5%;">
			</th>
			<th class="table info", style="width: 25%;">
				ユーザー名
			</th>
			<th class="table info", style="width: 15%;">
				ボイスチャット可否
			</th>
			<th class="table info", style="width: 40%;">
				遊んでいるゲーム
			</th>

			<% if user_signed_in? %>
				<th class="table info", style="width: 15%;">
					フォロー／解除
				</th>
			<% end %>

		</tr>

		<% @users.each do |user| %>
			<tr>
				<td class="table", style="width: 5%;">

					<% if user.image_id == nil %>
						<%= image_tag "noimage.png", :size => "40x40" %>
					<% else %>
						<%= attachment_image_tag user, :image %>
					<% end %>

				</td>
				<td class="table", style="width: 25%;">
					<%= user.name %>
				</td>
				<td class="table", style="width: 15%;">
					<%= user.voice %>
				</td>
				<td class="table", style="width: 40%;">
					<%= user.id %>
					<!--編集途中、ゲームの登録をしていないため-->
				</td>

				<% if user_signed_in? %>
					<td class="table", style="width: 15%;">
						<!--見た目のみ（リンク未設定）-->
						<% if user == current_user %>
						<% elsif  %>
							<%= link_to "フォロー", games_path, class: "btn btn-primary" %>
						<% else %>
							<%= link_to "フォロー解除", games_path, class: "btn btn-danger" %>
						<% end %>

					</td>
				<% end %>

			</tr>
		<% end %>
	</table>

	<%= paginate @users %>
</div>
