<div class="row">
	<div class="col-md-8">

		<div class="row">
			<div class="col-md-4", style="padding-bottom: 10px;">
				<h3>プロフィール</h3>
				<% if @user.image_id.present? %>
					<%= attachment_image_tag @user, :image, :size => "100x100" %>
				<% else %>
					<%= image_tag "noimage.png", :size => "100x100" %>
				<% end %>
			</div>

			<div class="col-md-8", style="padding-top: 60px;">

				<% if @user == current_user %>
					<p><%= link_to "フォロー・フォロワー一覧", relationships_path, class: "btn btn-primary" %></p>
					<p><%= link_to "編集する", edit_user_path(@user), class: "btn btn-primary" %></p>
				<% else %>

					<% if %>
						<p><%= link_to "フォロー", games_path, class: "btn btn-info" %></p>
					<% else %>
						<p><%= link_to "フォロー解除", games_path, class: "btn btn-danger" %></p>
					<% end %>

				<% end %>
			</div>
		</div>

		<div class="row">
			<table class="table table-bordered">
				<tr>
					<th class="table info", style="width: 25%;">ハンドルネーム</th>
					<td class="table">
						<%= @user.name %>
					</td>
				</tr>
		
				<tr>
					<th class="table info", style="width: 25%;">一言</th>
					<td class="table">
						<%= @user.introduction %>
					</td>
				</tr>
		
				<tr>
					<th class="table info", style="width: 25%;">ボイスチャット可否</th>
					<td class="table">
						<%= @user.voice %>
					</td>
				</tr>
	
				<tr>
					<th class="table info", style="width: 25%;">Twitter</th>
					<td class="table">
						<% if !@user.twitter.present? %>
							未登録
						<% else %>
							<%= @user.twitter %>
						<% end %>
					</td>
				</tr>
	
				<tr>
					<th class="table info", style="width: 25%;">Discord</th>
					<td class="table">
						<% if !@user.discord_name.present? || !@user.discord_number.present? %>
							未登録
						<% else %>
							<%= @user.discord_name %>#<%= @user.discord_number %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>

		<div class="row">
			<h4>遊びたいゲーム</h4>
		</div>

		<div class="row">
			<span class="col-md-2">コメント</span>
			<%= form_with(url: users_comments_path, method: :post, class: "form-horizontal", local: true) do |f| %>
				<%= f.hidden_field :id, value: @user.id %>
				<%= f.text_area :text, rows:"2", class: "col-md-6 comment" %>
				<%= f.submit "送信", class: "btn btn-info col-md-offset-1 col-md-2" %>
			<% end %>
		</div>

		<div class="row">
			<table class="table table-hover col-md-offset-1 col-md-11">
				<% @users_comments.each do |comment| %>
					<tr>
						<td class="table-noborder", style="width: 20%;">
							<%= comment.user.name %>
						</td>
						<td class="table-noborder", style="width: 40%;">
							<%= comment.text %>
						</td>
						<td class="table-noborder", style="width: 20%;">
							<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<div class="col-md-4">
		<!--通知欄-->
	</div>
</div>
