<div class="row">
	<div class="col-md-8">

		<div class="row">
			<div class="col-md-4", style="padding-bottom: 10px;">
				<h3>プロフィール</h3>
				<% if @user.image_id.present? %>
					<%= attachment_image_tag @user, :image, :size => "100x100" %>
				<% else %>
					<%= image_tag "noimage.png", :size => "100x100" %>
				<% end %>
			</div>

			<% if user_signed_in? %>
				<div class="col-md-8", style="padding-top: 60px;">

					<% if @user == current_user %>
						<p><%= link_to "フォロー・フォロワー一覧", relationships_path, class: "btn btn-primary" %></p>
						<p><%= link_to "編集する", edit_user_path(@user), class: "btn btn-primary" %></p>
					<% else %>

						<% if current_user.following?(@user) %>
							<%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
								<%= hidden_field_tag :follow_id, @user.id %>
								<p style="width: 120px;"><%= f.submit 'フォロー解除', class: 'btn btn-danger btn-block' %></p>
							<% end %>
						<% else %>
							<%= form_for(current_user.relationships.build) do |f| %>
								<%= hidden_field_tag :follow_id, @user.id %>
								<p style="width: 120px;"><%= f.submit 'フォローする', class: 'btn btn-info btn-block' %></p>
							<% end %>
						<% end %>

					<% end %>
				</div>
			<% end %>
		</div>

		<div class="row">
			<table class="table table-bordered">
				<tr>
					<th class="table info", style="width: 25%;">ハンドルネーム</th>
					<td class="table">
						<%= @user.name %>
					</td>
				</tr>
		
				<tr>
					<th class="table info", style="width: 25%;">一言</th>
					<td class="table">
						<%= @user.introduction %>
					</td>
				</tr>
		
				<tr>
					<th class="table info", style="width: 25%;">ボイスチャット可否</th>
					<td class="table">
						<%= @user.voice %>
					</td>
				</tr>
	
				<tr>
					<th class="table info", style="width: 25%;">Twitter</th>
					<td class="table">
						<% if !@user.twitter.present? %>
							未登録
						<% else %>
							<%= @user.twitter %>
						<% end %>
					</td>
				</tr>
	
				<tr>
					<th class="table info", style="width: 25%;">Discord</th>
					<td class="table">
						<% if !@user.discord_name.present? || !@user.discord_number.present? %>
							未登録
						<% else %>
							<%= @user.discord_name %>#<%= @user.discord_number %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>

		<div class="row">
			<h4>遊びたいゲーム</h4>
			<% if @users_games.present? %>
				<table class="table">
					<% @users_games.each_slice(3) do |game1,game2,game3| %>
						<tr>
							<td class="table table-noborder", style="width: 10%;">
							</td>
							<td class="table table-noborder", style="width: 30%;">
								<% if game1.present? %>
									<%= link_to users_gamer_path(game_id: game1.id) do %>
										<%= game1.title %>
									<% end %>
								<% end %>
							</td>
		
							<td class="table table-noborder", style="width: 30%;">
								<% if game2.present? %>
									<%= link_to users_gamer_path(game_id: game2.id) do %>
										<%= game2.title %>
									<% end %>
								<% end %>
							</td>
		
							<td class="table table-noborder", style="width: 30%;">
								<% if game3.present? %>
									<%= link_to users_gamer_path(game_id: game3.id) do %>
										<%= game3.title %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			<% else %>
				<div class="col-md-12">
					<p>
						ゲームは登録されていません　
						<% if @user == current_user %>
							<%= link_to "追加する", edit_user_path(@user), class: "btn btn-primary" %>
						<% end %>
					</p>
				</div>
			<% end %>
		</div>

		<div class="row", style="padding-top: 20px;">
			<span class="col-md-2">コメント</span>
			<% if user_signed_in? %>
				<%= form_with(url: users_comments_path, method: :post, class: "form-horizontal", local: true) do |f| %>
					<%= f.hidden_field :id, value: @user.id %>
					<%= f.text_area :text, rows:"2", class: "col-md-6 comment" %>
					<%= f.submit "送信", class: "btn btn-info col-md-offset-1 col-md-2" %>
				<% end %>
			<% end %>
		</div>

		<div class="row">
			<table class="table table-hover col-md-offset-1 col-md-11">
				<% @users_comments.each do |comment| %>
					<tr>
						<td class="table-noborder", style="width: 20%;">
							<%= link_to user_path(comment.user) do %>
								<%= comment.user.name %>
							<% end %>
						</td>
						<td class="table-noborder", style="width: 40%;">
							<%= comment.text %>
						</td>
						<td class="table-noborder", style="width: 20%;">
							<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-3">
		<% if @user == current_user %>
			<div class="row post-form">
				<%= form_with(url: posts_path, method: :post, class: "form-horizontal", local: true) do |f| %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<%= f.collection_select(:game_id, @users_games, :id, :title) %></br>
					<%= f.select :kind, {"を新しく始めました":"新規", "で遊びたい":"遊びたい"}, {class: "form-control", required: true} %>
					<%= f.submit "投稿", class: "btn btn-info" %>
				<% end %>
			</div>

			<%= render partial: "public/notifications/index", locals: { notifications: @notifications } %>
		<% end %>
	</div>
</div>
