<!DOCTYPE html>
<html>
	<head>
		<title>PlayWith</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<header class="nav navbar-inverse">
			<div class="container">
				<nav class="nav navbar-nav navbar-left">
					<%= link_to root_path do %>
						<span><%= image_tag "LOGO(仮2).png", :size => "240x135" %></span>
					<% end %>
				</nav>

				<% if user_signed_in? %>
					<nav class="nav navbar-nav navbar-left">
						<li>
							<h4>Welcome,<%= current_user.name %>!</h4>
						</li>
					</nav>
				<% end %>

				<nav>
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
							<li><%= link_to "About", about_path %></li>
							<li><%= link_to "Mypage", user_path(current_user) %></li>
							<li><%= link_to "Games", games_path %></li>
							<li><%= link_to "Users", users_path %></li>
							<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "About", about_path %></li>
							<li><%= link_to "Games", games_path %></li>
							<li><%= link_to "Users", users_path %></li>
							<li><%= link_to "Login", new_user_session_path %></li>
							<li><%= link_to "Signup", new_user_registration_path %></li>
						<% end %>

<!--検索フォーム、形のみ-->
						<div class="search-form">
							<%= form_with(url: games_search_path, method: :get, local: true) do |f| %>
								<%= f.text_field :search_content %>
								<%= f.select :search_model, {"Games":1, "Users":2}, {class: "form-control", required: true} %>
								<%= f.submit "検索" %>
							<% end %>
						</div>
					</ul>
				</nav>
			</div>
		</header>

		<div class="container">
			<%= yield %>
		</div>

		<footer>
			
		</footer>

	</body>
</html>
